.motionVideo{
    margin: 50px auto;
    text-align: center;
    padding: 50px;
}

.button{
    border:none;
    border-radius: 10px;
    text-decoration: none;
    padding:10px;
}

/* Avion */

#avion{
    background: url('../assets//portfolio/motion_design/bg-plane.jpg');
    background-size: contain;
}
#btn_avion{
    background-color: aliceblue;
    color:#000;
}
#btn_avion:hover{
    background-color: rgb(152, 198, 238);
}

/* ville */

#city{
    background: url('../assets//portfolio/motion_design/bg-street.jpg');
    background-size: contain;
}

#btn_city{
    background-color: rgb(229, 183, 15);
    color:#000;
}
#btn_city:hover{
    background-color: rgb(204, 161, 6);
}

/* Respiration */

#respi{
    background-color: #ecd792;
    background-size: contain;
}

#btn_respi{
    background-color: rgb(241, 144, 0);
    color:#000;
}
#btn_respi:hover{
    background-color: rgb(229, 136, 15);
}

/* fleurs */

#flowers{
    background-color: #1e4096;
    background-size: contain;
}

#btn_flowers{
    background-color: rgb(8, 33, 117);
    color:#ffffff;
}
#btn_flowers:hover{
    background-color: rgb(5, 19, 84);
}

/* sapin */

#sapin{
    background: url('../assets//portfolio/motion_design/bg-sapin.jpg');
    background-size: contain;
}

#btn_sapin{
    background-color: rgb(240, 10, 13);
    color:#ffffff;
}
#btn_sapin:hover{
    background-color: rgb(196, 4, 1);
}
